{%extends "layout.html"%}

{%block contents%}

<div class="container panel panel-default ">
    <div class="panel-body">
        <h3>これはなに？</h3>
        <p>StyleGANで出力されたねこ画像に対し、手動でのかわいさ比較によるイロレートの付与を行うことで、かわいい猫をたくさん見るためのページです</p>
        <h3>使い方</h3>
        <p>上メニューのCompareをクリックすると、2枚のねこ画像が表示されます。可愛いとおもった方をクリックしてください。</p>
        <b>機械による自動生成なので、とてもグロテスクな画像が出ることがあります。ご注意ください。</b>
        <p>クリックの結果に応じて、各画像が持つ「レート」という値が変動します。この値はその猫が多くクリックされているほど（＝かわいいと感じられているほど）高くなります。</p>
        <p>上メニューのRankingをクリックすると、ねこ画像がレート順に(=かわいい順に)表示されます。見て癒やされましょう。
        </p>
        <h3>その他</h3>
        <p>ねこ画像の生成は<a
                href="https://github.com/NVlabs/stylegan">NvidiaによるStyleGANの実装リポジトリ</a>にアップロードされているコードと学習済みモデルで行いました。計算部分には手を加えていません。
        </p>
        <p>イロレートの計算は
            <a herf=" https://wiis.info/math/ilo-rating-system/">この解説ページ</a>
            を参考にしました。最初、すべての画像のレートは400で、そこから記事中の更新式でK=100としてレートを更新します。 </p>
        <p>Ranking上の画像をクリックすると詳細ページに飛びます。詳細ページには、その画像を生成するために学習済みモデルに与えた初期値が公開されています。</p>
        <p>何かありましたら<a href="https://twitter.com/nbit0125">えすびて</a>まで。</p>
    </div>
</div>
{%endblock%}