{%extends "layout.html"%}
{%block contents%}

<div class="container  mt-5">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class=flashes>
        {% for category, message in messages %}
        <p class="{{ category }}">{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <h3>このサイトについて</h3>
    <hr>

    <div class="panel-body">

        <b>これはなに？</b>
        <p>マラソンサイト</p>
        <b>使い方</b>
        <p>*あとで書く*</p>
        <b>その他</b>
        <p>なんか書くかも</p>
        <p>何かありましたら<a href="https://twitter.com/nbit0125">えすびて</a>まで。</p>
    </div>
</div>
{%endblock%}