{%extends "layout.html"%}

{%block contents%}
<div class="container panel panel-default ">
    <div class="header">
        <h3>ユーザー登録</h3>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class=flashes>
        {% for category, message in messages %}
        <p class="{{ category }}">{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <div class="panel-body">
        <div class="container">
            <form action="/register" method="post">
                <input type="text" placeholder="ユーザー名" name="username" required>
                <input type="password" placeholder="パスワード" name="password" required>
                <button>登録</button>
            </form>
        </div>
    </div>
</div>
{%endblock%}