{%extends "layout.html"%}


{%block contents%}

<style>
    .js-slider {
        position: relative;
        width: 500px;
        height: 20px;
    }

    .js-slider div {
        background: #ddd;
        height: 3px;
        border: 1px inset #aaa;
        position: relative;
        top: 12px;
        font-size: 0px;
    }

    .js-slider input {
        position: absolute;
        width: 15px;
        height: 20px;
        display: block;
    }

    #score-area {
        width: 80px;
        height: 70px;
        margin: 0px 5px 60px 5px;
        box-shadow: 0 0 2px 2px #666666;
    }

    #score-label {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-bottom: 2px solid #666666;
        margin: 0px;
        padding: 4px;
    }

    #score {
        text-align: right;
        margin: 0px;
        padding: 4px 4px;
    }
</style>
<div class="container  mt-5">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class=flashes>
        {% for category, message in messages %}
        <p class="{{ category }}">{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <h3>ビューア</h3>
    <hr>
    <div style="display:inline-flex">
        出力ファイル：<input type="file" id="output" onchange="init(this.files)">　　
        <div id="outputFile"></div>

    </div>
    <div id="score-area">
        <p id="score-label">Score</p>
        <p id="score">0</p>
    </div>
    <form class="js-slider-form" onsubmit="return false;">

        <button id="start">▶</button>
        <div id="slider1" class="js-slider">
            <div></div>
            <input type="button" value="">

        </div>
        <input type="number" id="turn" name="slider" value="0">ターン目</input>
    </form>
    <div class=" render-area">
        <canvas id="canvas" width="512" height="512"></canvas>
    </div>
    <script src="/static/viewer.js"></script>

    {%endblock%}