{%extends "layout.html"%}


{%block contents%}
<script src="/static/viewer.js"></script>

<div class="container  mt-5">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class=flashes>
        {% for category, message in messages %}
        <p class="{{ category }}">{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <h3>ビューア</h3>
    <hr>
    <div style="display:inline-flex">
        出力ファイル：<input type="file" id="output" onchange="init(this.files)">　　
        <div id="outputFile"></div>

    </div>
    <div class="render-area">
        <canvas id="canvas" width="512" height="512"></canvas>
    </div>
    {%endblock%}